
h1,h2{
    color:red; 
}
h1{
    
    background-size: cover;
}
h1:hover{
    background-color: lightblue;
   
}
h2{
    text-align: center;
    border: 4px dashed red;  
}
p{
    color: green;
    font-size: 14px;
}
.firstp{
    
}
ul > li{
    list-style: none;
    background-image:url(../images/background.jpeg);
    display: inline-block;
    border:2px solid black;
    box-shadow: 4px 4px gray;
    border-radius: 6px;
}
ul:first-child{
    color: red;
}