div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: burlywood;
}
section{
    display: flex;
    flex-wrap: wrap ;
    background-color: gray;
    justify-content: space-evenly;
}
