body{
  margin: 0;
  padding: 0;
}
section{
    border: 2px solid green;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px gray;
    border-radius: 10px;
}
nav{
  border: 2px solid rgb(117, 81, 14);
  height: 10%;
  background-color: orange;
  position: sticky;
  top:0;
  text-align: center;
  align-content: center;
}

header{
    background-image: url(../images/backgroun.jpeg);
    background-size:contain;
    text-align: cover;
    height: 200px;
    margin: 0;
}

header h1, header a{
    color: white;
    font-weight: bold;
    
}
p, td, th{
    font-family: 'Simonetta', cursive;
}



  table {
    border-collapse: collapse;
  }
  th, td{
    border-bottom: 1px solid #ddd;
  }
  footer{
    border: 2px solid, orange;
    background-color: rgba(117, 81, 14,0.8);
    position: fixed;
    bottom: 0;
    right: 0;
  }
  #prods{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .prod{
    text-align: center;
    border: 2px solid  orange;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    box-shadow: 10px 10px gray;
  }
  img{
    width: 200px;
    
  }